.newsfeed {
    flex: 0.7;
    /* flex-grow: 0; */
    color: white;
    padding: 0;
    margin: 0
}

.newsfeed__chartSection {
    display: flex;
    flex-direction: column;
}

.newsfeed__portfolio {
    text-align: left;

}


.newsfeed__portfolio h1 {
    margin: 0
}


.newsfeed__portfolio p {
    margin-top: 0
}

.newsfeed__container {
    margin: 0;
    padding: 0;
}

.newsfeed__chart {
    width: 100%;
}