#tickers-grid {
    display: flex;
    flex-wrap: wrap;
}


.dark-red {
    color: #880000;
}

.red {
    color: #FF0000;
}

.gray {
    color: #808080;
}

.green {
    color: #00BB00;
}

.dark-green {
    color: #006600
}

#tickers-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stock-box {
    width: 200px;
    height: 200px;
    border: 1px solid #333;
    margin: 20px;
    padding: 20px;
    background: #eee;
    transition: background-color 0.5s;
    cursor: pointer;
}

canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}

.red-flash {
    transition: background-color 1s;
    background-color: #ffcccc !important;
}

.green-flash {
    transition: background-color 1s;
    background-color: #ccffcc !important;
}

.gray-flash {
    transition: background-color 1s;
    background-color: #ccc;
}