.row {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 0 24px;
    align-items: center;
    cursor: pointer;
}

.row:hover {
    background-color: #31363A;
}

.row__intro>h1 {
    font-size: 13px;
    font-weight: 700;
    padding-bottom: 2px;
}

.row__intro>p {
    font-size: 13px;
}

.row__numbers {
    text-align: end;
    font-weight: 500;
}

.row__price {
    padding-bottom: 4px;
    font-size: 13px;
}

.row__percentage.positive {
    color: #5AC53B;
    font-size: 13px;
}

.row__percentage.negative {
    color: #f61212;
    font-size: 13px;
}